{% extends 'layout.html.twig' %}

{% block main %}

    <h1>Add medias</h1>

    {{ form_start(mediaForm, {'attr': {'novalidate': 'novalidate'}} ) }}
    {{ form_widget(mediaForm) }}
    <button type="submit">Validate</button>
    {{ form_end(mediaForm) }}

{% endblock %}

