{% extends 'layout.html.twig' %}

{% block main %}

    <h1>Modifier un media</h1>

    {{ form_start(mediaForm, {'attr': {'novalidate': 'novalidate'}} ) }}
    {{ form_widget(mediaForm) }}
    <button type="submit">Valider!</button>
    {{ form_end(mediaForm) }}

{% endblock %}

