{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Genres</h1>
    <div class="genre-list">
        {% for genre in genres %}
                <div class="d-flex justify-content-between align-items-center" style="border:-1px;">
                    {{ genre.name }}
                    <div style="border: none">
                    <button type="button" class="btn btn-sm btn-outline-secondary btn-update"><a
                                href="{{ path("Genre_update", {"id": genre.id}) }}">Update</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary btn-delete"><a
                                href="{{ path("Genre_del", {"id": genre.id}) }}">Delete</a>
                    </button>
                    </div>
                </div>
        {% endfor %}
    </div>

    <button class="btnAdd orange"><a href="{{ path('Genre_add') }}">Add</a></button>

{% endblock %}
