{% extends 'layout.html.twig' %}

{% block main %}

    <h1>Update genre</h1>

    {{ form_start(GenreForm, {'attr': {'novalidate': 'novalidate'}} ) }}
    {{ form_widget(GenreForm) }}
    <button type="submit">Validate</button>
    {{ form_end(GenreForm) }}

{% endblock %}

