{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Welcome to Media player!</h1>
    <p>Le Lecteur Windows Media est un lecteur multimédia développé par l’entreprise Chef&hoat qui permet de lire des fichiers audio, vidéo, et des images.</p>
{% endblock %}

{% block title %}{{ parent() }} | Home{% endblock %}