{% extends 'layout.html.twig' %}

{% block content %}
    TEST

    {% for var in tabP %}
        <p>{{ var }}</p>
    {%  endfor %}

{% endblock %}

{%  block title %}titre {{ param1 }}{% endblock %}