{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Media types</h1>
    <div class="genre-list">
        {% for typeMedia in typeMedias %}
                <div class="d-flex justify-content-between align-items-center" style="border:-1px;">
                    {{ typeMedia.name }}
                    <div style="border: none">
                    <button type="button" class="btn btn-sm btn-outline-secondary btn-update"><a
                                href="{{ path("TypeMedia_update", {"id": typeMedia.id}) }}">Update</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary btn-delete"><a
                                href="{{ path("TypeMedia_del", {"id": typeMedia.id}) }}">Delete</a>
                    </button>
                    </div>
                </div>
        {% endfor %}
    </div>

    <button class="btnAdd orange"><a href="{{ path('TypeMedia_add') }}">Add</a></button>
{% endblock %}
