{% extends 'layout.html.twig' %}

{% block main %}

    <h1>Update media types</h1>

    {{ form_start(TypeMediaForm, {'attr': {'novalidate': 'novalidate'}} ) }}
    {{ form_widget(TypeMediaForm) }}
    <button type="submit">Validate</button>
    {{ form_end(TypeMediaForm) }}

{% endblock %}

