<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Accueil</a> </li>
        <li><a href="{{ path('media_list') }}">Médias</a> </li>
        <li><a href="{{ path('media_list') }}">Genre</a> </li>
        <li><a href="{{ path('TypeMedia_list') }}">Types de média</a> </li>
    </ul>
</nav>